.Main{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px 0px 0px 0px;
}

.MainWin{
    width: 500px;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0px 4px 5px 0px rgba(34, 60, 80, 0.2);
    margin: 0 40px 0 40px;
}


.MainWinTitle{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 18px;
    color: #3b3b3b;
}

.SaveWin{
    width: 300px;
    height: fit-content;
    border-radius: 15px;
    box-shadow: 0px 4px 5px 0px rgba(34, 60, 80, 0.2);
}
.SaveWinTitle{
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;
    font-size: 18px;
    color: #3b3b3b;
}
.SaveWin li{
    list-style-type: none;
}
.SaveWin li::before{
    content: "➤";
    color: #1d75a5;
    margin-right: 10px;
}
.DownloadBtn{
    position: relative;
    float: right;
    right: 10px;
    bottom: 10px;
    width: 100px;
    height: 42px;
    font-size: 15px;
    background-color: #1d75a5;
    color: #ffffff;
    margin: 10px 0 0 0;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 5px 0px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    transition: transform 0.1s, background-color 0.05s;
}
.DownloadBtn:active{
    background-color: #11405a !important;
    transform: scale(0.95);
}


.MainInput{
    display: flex;
    margin: 5px 0 0 0px;
    padding: 0px 0px 0px 40px;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}
.MainInput input{
    border: none;
    border-radius: 15px;
    width: 250px;
    height: 40px;
    padding-left: 10px;
    background-color: #f6f6f6;
    font-size: 15px;
    box-shadow: 0px 4px 5px 0px rgba(34, 60, 80, 0.2);
}


.MainBtn{
    display: flex;
    gap: 10px;
    margin: 0 36px 0 0;
}
.GenBtn {
    width: 100px;
    height: 42px;
    font-size: 15px;
    background-color: #1d75a5;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 5px 0px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    transition: transform 0.1s, background-color 0.05s;
}
@media(hover : hover){
    .GenBtn:hover{
        background-color: #175a7e;    
    }
    .SaveBtn:hover{
        background-color: #175a7e; 
    }
    .DownloadBtn:hover{
        background-color: #175a7e;
    }
}
.GenBtn:active{
    background-color: #11405a;
    transform: scale(0.95);
}
.SaveBtn {
    width: 42px;
    height: 42px;
    background-color: #1d75a5;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 5px 0px rgba(34, 60, 80, 0.2);
    cursor: pointer;
    transition: transform 0.1s, background-color 0.05s;
}
.SaveBtn:active{
    background-color: #11405a;
    transform: scale(0.95);
}

.SaveBtn img {
    padding: 3px 0 0 0;
    margin: 0;
    width: 26px;
    height: 26px;
}


.PassLen {
    display: flex;
    margin: 15px 0px 0px 40px;
    flex-wrap: wrap;
}

.PassLen label{
    font-size: 15px;
    color: #3b3b3b;
    margin: 2px 0px 0px 0px;
}
.PassLen p{
    font-size: 15px;
    color: #3b3b3b;
    margin: 2px 0px 0px 0px;
}

.PassLen input{
    width: 50px;
    height: 20px;
    margin: 0px 15px 0px 15px;
    border: none;
    border-radius: 10px;
    background-color: #f6f6f6;
    box-shadow: 0px 4px 5px 0px rgba(34, 60, 80, 0.2);
    text-align: center;
}

.Other{
    display: flex;
    width: fit-content;
    margin: 30px 40px 30px 40px;
    flex-wrap: wrap;
    gap: 10px;
}
.OtherOpt{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
}
.OtherOpt label{
    padding-left: 10px;
    color: #3b3b3b;
}
.OtherOpt input{
    appearance: none;
    position: relative;
    width: 25px;
    height: 25px;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 5px 0px rgba(34, 60, 80, 0.2);
    cursor: pointer;
}
.OtherOpt input::after{
    content: "\2714";
    position: absolute;
    top: -1px;
    left: 5px;
    width: 0px;
    height: 0px;
    font-size: 20px;
    transition: 500ms;
    overflow: hidden;
}
.OtherOpt input:checked::after{
    width: 25px;
    height: 25px;
    color: #1d75a5;
    transition: 500ms;
}
.OtherOpt input:disabled{
    background: #f6f6f6;
}
.OtherOpt input:disabled::after{
    filter: grayscale(100%);
}

@media(max-width:580px){
    .MainInput{
    justify-content: center;
    padding: 0;
    }
    .MainInput input{
        width: 70%;
    }
}

@media(max-width:500px){
    .MainWin{
        width: 90%;
    }
}






